<section class="theory contraction-wrap">

  <div class="theory-box contraction-wrap-box">

    <app-category-box [resultList]="resultNameList"  (chooseName)="chooseName($event)" (getMore)="getmore()"></app-category-box>

    <!--<p class="description">-->
      <!--将一个物体分成相对独立的部分；使物体分成容易组装及拆卸的部分；增加物体相互独立的程度。例如：用多台个人计算机代替一台大型计算机完成相同的功能；花园中浇花用的软管系统，可根据需要根据快速接头连接成所需的长度；用百叶窗代替整体窗帘。-->
    <!--</p>-->

    <!--具体案例-->
    <div class="case">
      <app-loading *ngIf="isLoading"></app-loading>
      <!--<div class="case-title">-->
        <!--相关案例-->
      <!--</div>-->
      <!--<div class="case-info">-->
        <!--<div class="case-name">-->
          <!--现代化的组合家具-->
        <!--</div>-->
        <!--<hr/>-->
        <!--<div class="case-box">-->
          <!--<div class="left-word">-->
            <!--<div class="class">-->
              <!--<div class="small-title">-->
                <!--IP1-1：讲一个对象分解成多个相互独立的部分-->
              <!--</div>-->
              <!--<div class="detail">-->
                <!--<p>	 将学生分成不同的班级，不同的年纪，以便实施教学。</p>-->
                <!--<p>	将企业的办公区与制造车间分开。</p>-->
                <!--<p>	面向对象的程序设计，是将程序分割成单个能够起到子程序作用的单元或对象。</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="class">-->
              <!--<div class="small-title">-->
                <!--IP1-1：讲一个对象分解成多个相互独立的部分-->
              <!--</div>-->
              <!--<div class="detail">-->
                <!--<p>	将学生分成不同的班级，不同的年纪，以便实施教学。</p>-->
                <!--<p>	将企业的办公区与制造车间分开。</p>-->
                <!--<p>	面向对象的程序设计，是将程序分割成单个能够起到子程序作用的单元或对象。</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="right-pic">-->
            <!--<img src="assets/img/tupian@2x.png"/>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>

    <!--右边的快捷按钮-->
    <app-contradiction-right-bar></app-contradiction-right-bar>
  </div>

</section>

