@import "../../../assets/css/variable.styl"

.right-bar
  width 152px
  position absolute
  top 0
  right -172px
  height 100%
  z-index 1
  background transparent
  .bar-box
    position fixed
    width 152px
    background #fff
    .line
      height 100%
      width 1px
      border-left 1px dashed #eca72d
      position absolute
      left 17px
    ul
      padding 15px 0
      li
        font-size $font-nomal-size
        color $font-gray-color
        line-height 1
        padding 15px 9px
        cursor pointer
        img
          visibility hidden
        span
          padding-left 9px
      .active
        color $theme-main-yellow-color
        img
          visibility visible
          width 16px
          height @width
    .toTopBtn
      background $theme-main-light-blue-color
      text-align center
      padding 6px 0 11px
      height 52px
      z-index 1
      cursor pointer
      position absolute
      bottom -52px
      left 0
      width 152px
      .toTop-icon
        svg
          width 25px
          height 11px
          fill #fff
      button
        color #ffffff
        font-size $font-nomal-size
        padding-top 4px
        line-height 1
