<div class="right-bar">
  <div class="bar-box">
    <div class="line">
    </div>
    <ul>
      <li routerLink="/contradiction/{{type}}/search" routerLinkActive="active">
        <img src="assets/img/yuanxing-2@2x.png" />
        <span>矛盾检索</span>
      </li>
      <li routerLink="/contradiction/{{type}}/theory" routerLinkActive="active">
        <img src="assets/img/yuanxing-2@2x.png" />
        <span>发明原理</span>
      </li>
      <li routerLink="/contradiction/{{type}}/physical" routerLinkActive="active" *ngIf="type==='03'">
        <img src="assets/img/yuanxing-2@2x.png" />
        <span>物理矛盾</span>
      </li>
      <li routerLink="/contradiction/{{type}}/reverse" routerLinkActive="active">
        <img src="assets/img/yuanxing-2@2x.png" />
        <span>原理反查矛盾</span>
      </li>
      <li routerLink="/contradiction/{{type}}/params" routerLinkActive="active">
        <img src="assets/img/yuanxing-2@2x.png" />
        <span *ngIf="type === '03'">48个工程参数简介</span>
        <span  *ngIf="type === 'classical'">39个工程参数简介</span>
      </li>
    </ul>
    <div class="toTopBtn" (click)="toTop()">
      <div class="toTop-icon">
        <!--<svg>-->
          <!--<use xlink:href="assets/icon/symbol-defs.svg#icon-xiangshangshouqi"></use>-->
        <!--</svg>-->
        <i class="icon-xiangshangshouqi"></i>
      </div>
      <button>返回顶部</button>
    </div>
  </div>
</div>
