@import "../../../assets/css/variable.styl"

.right-bar
  width 152px
  position fixed
  top 50%
  //height 260px
  background #fff
  .bar-box
    position relative
    .line
      height 100%
      width 1px
      border-left 1px dashed #eca72d
      position absolute
      left 17px
      z-index -1
    ul
      padding 15px 0
      li
        font-size $font-nomal-size
        color $font-gray-color
        line-height 1
        padding 15px 9px
        img
          visibility hidden
        span
          padding-left 9px
      .active
        color $theme-main-yellow-color
        img
          visibility visible
          width 16px
          height @width
    .toTopBtn
      background $theme-main-light-blue-color
      text-align center
      padding 9px 0
      height 52px
      z-index 1
      .toTop-icon
        svg
          width 25px
          height 11px
          fill #fff
      button
        color #ffffff
        font-size $font-nomal-size
        padding-top 3px
        line-height 1
