<div class="right-bar">
  <div class="bar-box">
    <div class="line">
    </div>
    <ul>
      <li class="active">
        <img src="assets/img/yuanxing-2@2x.png" />
        矛盾检索
      </li>
      <li>
        <img src="assets/img/yuanxing-2@2x.png" />
        矛盾原理
      </li>
      <li>
        <img src="assets/img/yuanxing-2@2x.png" />
        物理矛盾
      </li>
      <li>
        <img src="assets/img/yuanxing-2@2x.png" />
        原理反查矛盾
      </li>
      <li>
        <img src="assets/img/yuanxing-2@2x.png" />
        48个工程参数
      </li>
    </ul>
  </div>
</div>
