@import "../../../assets/css/variable.styl"

.person-sec
  padding 40px 0
  .main-box
    width 100%
    background #f8f8f8
    padding 40px
    .main
      width 1000px
      margin 0 auto
      display flex
      .left-box
        min-height 778px
        background #fff
        width 240px
        margin-right 10px
        .left-nav
          .nav-title
            color #ffffff
            background $theme-main-light-blue-color
            padding 16px
            font-size $font-little-big-size
          ul
            li
              cursor pointer
              padding 16px
              font-size $font-little-big-size
              color $font-gray-color
              border-bottom $default-gray-bottom-border
            .active
              color $theme-main-yellow-color
              border-left 2px solid $theme-main-yellow-color
      .right-box
        min-height 778px
        background #fff
        width 750px
