<section class="wrap person-sec">
  <!--<div class="bread">首页 > 个人信息</div>-->

  <div class="main">
    <!--左边栏-->
    <div class="left-box">
      <div class="left-nav">
        <div class="nav-title">个人中心</div>
        <ul>
          <li class="active">
            个人信息
          </li>
          <li>
            修改密码
          </li>
        </ul>
      </div>
    </div>

    <!--右边栏-->
    <div class="right-box">
      <app-person-info></app-person-info>
      <app-edit-password style="display:none"></app-edit-password>
    </div>
  </div>

</section>
