@import "../../../assets/css/variable.styl"

section
  width 100%
  margin-bottom -96px
  .header
    padding 6px 0 1px
    margin 0 auto
    width 1000px
    display flex
    justify-content space-between
    font-size $font-little-big-size
    .logo
      margin-right 40px
      img
        width 228px
        height 88px
    .top-nav
      width 500px
      text-align left
      .nav-box
        display flex
        li
          margin 0 20px
          position relative
          a
            display inline-block
            padding 57px 23px 7px
            cursor pointer
          .active
            color $theme-main-yellow-color
            border-bottom $default-main-bottom-border
          .line
            position absolute
            display block
            width 1px
            height 20px
            background #bdbdbd
            right -20px
            bottom 12px
          .lower-level-menu
            width 140px
            position absolute
            top 82px
            left 0
            z-index 1
            border-radius 3px
            background transparent
            color $font-gray-color
            padding-top 10px
            div>div
              cursor pointer
              padding 12px 0 12px 15px
              &:not(:last-child)
                border-bottom $default-gray-bottom-border
              &:hover
                color $theme-main-yellow-color
            .level2active
              color $theme-main-yellow-color
            .triggle
              margin-left 10px
              display block
              height 8px
              text-align left
              position relative
              img
                position absolute
                top 0
                left 0
            .toggle-list-box
              background #fff
              border-radius 3px
          &:hover
            a
              color $theme-main-yellow-color
              border-bottom $default-main-bottom-border
    .func-btns
      text-align right
      ul
        display flex
        li
          color $theme-main-light-blue-color
          margin-top 57px
          margin-bottom 10px
          cursor pointer
          &:nth-child(1)
            padding 0 18px 0 0
            border-right 1px solid #bdbdbd
          &:nth-child(2)
            padding 0 0 0 18px
      .welcome
        cursor pointer
        position relative
        margin-top 54px
        span
          color $theme-main-yellow-color
        .tx-box
          display inline-block
          background $theme-main-light-blue-color
          width 30px
          height @width
          border-radius 50%
          text-align center
          margin-right 10px
          i
            font-size 20px
            color #ffffff
            display block
            padding-top 3px
        .toggle
          position absolute
          background transparent
          width 140px
          border-radius 3px
          padding-top 8px
          z-index 1
          .triggle
            margin-left 10px
            display block
            height 8px
            text-align left
            position relative
            img
              position absolute
              top 0
              left 10px
          .toggle-list-box
            background #fff
            border-radius 3px
            &>div
              padding 12px 0 12px 15px
              &:hover
                color $theme-light-yellow-color
              &:not(:last-child)
                border-bottom $default-gray-bottom-border
          >div
            text-align left
          .level2active
            color $theme-main-yellow-color



:focus
  outline none
