<section class="search-result contraction-wrap">

  <div class="repository-search-result contraction-search-result">
    <form class="search-btn-box" #searchForm="ngForm">
      <div class="search-btn form-group">
        <span class="search-func-title">
          改善特性：
        </span>
        <select id="func" name="func" [(ngModel)]="posit">
          <option *ngFor="let item of positive" [value]="item">
            {{item}}
          </option>
        </select>
      </div>
      <div class="search-btn form-group">
        <span class="search-func-title">
          恶化特性：
        </span>
        <select id="funs" name="funs" [(ngModel)]="nagat">
          <option *ngFor="let item of nagative" [value]="item">
            {{item}}
          </option>
        </select>
      </div>
      <div class="search-btn">
        <button type="submit" (click)="btnSearch()">
          矛盾检索
        </button>
      </div>
    </form>

    <!--没有搜索条件时的默认状态-->
    <div class="repository-search-index contraction-search-index" *ngIf="!hasResearch">
      <div class="index-detail">
        <p>
          阿奇舒勒通过大量专利的研究发现：“发明”往往需要解决隐藏在问题当中的矛盾。矛盾是发明问题的核心，矛盾存在与否是区分发明问题与普通问题的标志，解决矛盾就成为TRIZ最根本的任务。TRIZ解决矛盾的能力也是面对工程技术问题进行创新的利器。“创新咖啡厅”提供了经典矛盾矩阵、03版矛盾矩阵以及管理创新矛盾矩阵，帮助工程师解决发明和创新管理过程中所遇到的矛盾问题。以TRIZ之矛，攻技术难题之盾！
        </p>
      </div>
    </div>

    <!--搜索结果-->
    <div class="search-result-box contraction-wrap-box" *ngIf="hasResearch && hasResult">
      <div class="contraction-result-detail">
        <div class="tags">
          <div class="tags-title">
            检索结果：
          </div>
          <div class="tags-list">
            <app-category-box [resultList]="resultNameList" [defaultName]="defaultName" (chooseName)="chooseName($event)" (getMore)="getmore()"></app-category-box>
          </div>
        </div>
        <div class="contraction-result-detail-info">
          <app-loading *ngIf="isLoading"></app-loading>
        </div>
      </div>

    </div>

    <!--搜索结果为空-->
    <div class="search-result-box no-result" *ngIf="hasResearch && !hasResult">
      <img src="assets/img/wijiansuo@2x.png" />
      <div class="explain">
        暂无检索到相应的矛盾原理，换一个试试~
      </div>
    </div>

    <!--右边的快捷按钮-->
    <app-contradiction-right-bar></app-contradiction-right-bar>
  </div>

</section>

