<section class="search-result contraction-wrap">

  <div class="repository-search-result contraction-search-result">
    <form class="search-btn-box" #searchForm="ngForm">
      <div class="search-btn form-group">
        <span class="search-func-title">
          待改善的参数(目标)：
        </span>
        <select id="func" name="func" [(ngModel)]="posit">
          <option disabled [value]="'请选择'">请选择</option>
          <option *ngFor="let item of positive; let i = index" [value]="item">
            {{i + 1}} {{item}}
          </option>
        </select>
      </div>
      <div class="search-btn form-group">
        <span class="search-func-title">
          可能恶化的参数(偏好)：
        </span>
        <select id="funs" name="funs" [(ngModel)]="nagat">
          <option disabled [value]="'请选择'">请选择</option>
          <option *ngFor="let item of nagative; let i = index" [value]="item">
            {{i + 1}} {{item}}
          </option>
        </select>
      </div>
      <div class="search-btn">
        <button type="submit" (click)="btnSearch()" [disabled]="posit === '请选择' || nagat === '请选择'">
          矛盾检索
        </button>
      </div>
    </form>

    <!--没有搜索条件时的默认状态-->
    <div class="repository-search-index contraction-search-index" *ngIf="!hasResearch">
      <div class="index-detail">
        <p *ngIf="state === '0'">
          阿奇舒勒通过大量专利的研究发现：“发明”往往需要解决隐藏在问题当中的矛盾。矛盾是发明问题的核心，矛盾存在与否是区分发明问题与普通问题的标志。1970年，阿奇舒勒将40个发明原理与39个通用工程参数相结合，开发出了经典矛盾矩阵。
          经典矛盾矩阵是一个二维表格，使用者从纵向排列的39个工程参数中选出一个待改善的参数（目标），再从横向排布的39个工程参数中找到一个可能恶化的参数（偏好），在行列相交的一栏中找到对应的发明原理，经过几次尝试就可以找到典型解决方案。
          经典矛盾矩阵有以下几个特点：<br/><br/>
          1）整个矩阵表中存在少量的空白，意味着有少许矛盾没有相应的发明原理予以解决；<br/>
          2）矛盾矩阵关于对角线是非对称结构，例如“功率”参数改善“稳定性”参数恶化，与“稳定性”改善“功率”恶化所对应的发明原理是不同的；<br/>
          3）矛盾矩阵的对角线部分，也就是同一个工程参数既要改善又要恶化（意味着物理矛盾的存在），没有提供相应的发明原理。<br/><br/>
          TRIZ解决矛盾的能力也是面对工程技术问题进行创新的利器。“创新咖啡厅”提供的经典矛盾矩阵能够有效帮助工程师解决发明过程中所遇到的矛盾问题。以TRIZ之矛，攻技术难题之盾！
        </p>
        <p *ngIf="state === '1'">
          自1970年经典矛盾矩阵问世后，就迅速吸引了创新方法研究者以及实际应用者的关注，并在实践过程中不断改进。基于前人众多研究的基础之上，与2003年公布了新版矛盾矩阵。相比经典的矛盾矩阵，2003矛盾矩阵做出了如下改进：<br/><br/>
          1）增加了9个通用工程参数，矩阵的规模也随之扩展为48*48。结果是，矩阵中能容纳的矛盾关系增加了1000个左右，扩大了能够解决问题的范围；<br/>
          2）每一栏中所提供的发明原理数量有所增加，更重要的是不再留有空格，也即所有的问题都能找到对应的发明原理加以解决；<br/><br/>
          与此同时，还将解决物理矛盾的发明原理单独列举出来，制作出了“发明问题解决引导表”，使矛盾矩阵的使用者可以更高效、有序地解决系统对同一个参数存在相反的要求而产生的物理矛盾。<br/><br/>
          “创新咖啡厅”提供的2003矛盾矩阵能够更好的帮助工程师解决发明中所遇到的矛盾问题。以TRIZ之矛，攻技术难题之盾！
        </p>
      </div>
    </div>

    <!--搜索结果-->
    <div class="search-result-box contraction-wrap-box" *ngIf="hasResearch && hasResult">
      <div class="contraction-result-detail">
        <div class="tags">
          <div class="tags-title">
            检索结果：
          </div>
          <div class="tags-list">
            <app-category-box [resultList]="resultNameList" [defaultName]="defaultName" (chooseName)="chooseName($event)" (getMore)="getmore()"></app-category-box>
          </div>
        </div>
        <div class="contraction-result-detail-info">
          <app-loading *ngIf="isLoading"></app-loading>
        </div>
      </div>

    </div>

    <!--搜索结果为空-->
    <div class="search-result-box no-result" *ngIf="hasResearch && !hasResult">
      <img src="assets/img/wijiansuo@2x.png" />
      <div class="explain">
        暂无检索到相应的矛盾原理，换一个试试~
      </div>
    </div>

    <!--右边的快捷按钮-->
    <app-contradiction-right-bar></app-contradiction-right-bar>
  </div>

</section>

