<section class="search-result">

  <div class="repository-search-result contraction-search-result">
    <div class="search-btn-box">
      <div class="search-btn">
        <span class="search-func-title">
          改善特性：
        </span>
        <select>
          <option>
            全部功能
          </option>
          <option>
            test
          </option>
        </select>
      </div>
      <div class="search-btn">
        <span class="search-func-title">
          恶化特性：
        </span>
        <select>
          <option>
            全部功能
          </option>
          <option>
            test
          </option>
        </select>
      </div>
      <div class="search-btn">
        <button>
          冲突检索
        </button>
      </div>
    </div>

    <!--没有搜索条件时的默认状态-->
    <div class="repository-search-index contraction-search-index" style="display: none">
      <div class="index-detail">
        <p>
          阿奇舒勒通过大量专利的研究发现：“发明”往往需要解决隐藏在问题当中的矛盾。矛盾是发明问题的核心，矛盾存在与否是区分发明问题与普通问题的标志，解决矛盾就成为TRIZ最根本的任务。TRIZ解决矛盾的能力也是面对工程技术问题进行创新的利器。“创新咖啡厅”提供了经典矛盾矩阵、03版矛盾矩阵以及管理创新矛盾矩阵，帮助工程师解决发明和创新管理过程中所遇到的矛盾问题。以TRIZ之矛，攻技术难题之盾！
        </p>
      </div>
    </div>

    <!--搜索结果-->
    <div class="search-result-box">
      <div class="contraction-result-detail">
        <div class="tags">
          <div class="tags-title">
            检索结果：
          </div>
          <div class="tags-list">
            <span class="active">动态化</span>
            <span>重量补偿</span>
            <span>气动和液压结果</span>
            <span>抛弃与修复</span>
          </div>
        </div>
        <div class="contraction-result-detail-info">
          <p>
            说明：在下面的子原理中出现“对象”的概念指的是system或者object，不仅可以表示具体的、有形的“物”（物体或产品），而且也可以表示抽象的、无形的“事”（组织方式、行为方式、流程）。但是在某些汉语著作中，使用的却是“物体”一词，只表示具体的“物”。本书在此使用的是“对象”一词，不仅表示“物”，也表示“事”。当我们将发明原理应用到“物”上的时候，就表示具体的、物理形式上的改变；我们将发明原理应用到“事”上的时候，就表示抽象的、概念形式上的改变。
          </p>
          <p>
            IP1-1：将一个对象分解成多个相互独立的部分。
          </p>
          <p>
            将学生分成不同的班级，不同的年级，以便实施教学。
          </p>
          <p>
            将企业的办公区与制造车间分开。
          </p>
          <p>
            面向对象的程序设计，是将程序分割成单个能够起到子程序作用的单元或对象。
          </p>
          <p>
            IP1-2：将对象分成容易组装（或组合）和拆卸的部分。
          </p>
          <p>
            火车的车头和车厢之间是独立的个体。车头独立是当列车到达终点站时，机车可以将车头解挂，然后转头挂在车厢另一头返回。车厢之间相对独立就可以灵活调整车厢的数量。在此，车头与车厢的分割是功能分割，车厢之间的分割是结构分割。
          </p>
        </div>
      </div>

    </div>

    <!--搜索结果为空-->
    <div class="search-result-box no-result" style="display: none">
      <img src="assets/img/wijiansuo@2x.png" />
      <div class="explain">
        暂无检索到相关冲突原理，换一个试试~
      </div>
    </div>

  </div>

</section>
