@import "../../../assets/css/variable.styl"

.modal-container
  width 100%
  height 100%
  position fixed
  top 0
  left 0
.modal-box
  position absolute
  top 50%
  left 50%
  margin-top -80px
  margin-left -49px
  width 160px
  height 98px
  text-align center
  background rgba(52,52,52,0.6)
  border-radius 6px
  padding 12px 0 14px
  z-index 2
  i
    font-size 42px
    color #ffffff
    display block
    padding-bottom 10px
  p
    color #ffffff
    font-size $font-little-big-size
