<section class="reverse contraction-wrap">

  <div class="reverse-box contraction-wrap-box">

    <app-category-box [resultList]="resultNameList" (chooseReverseName)="choosereversename($event)" (getMore)="getmore()"></app-category-box>

    <!--原理反查冲突-->
    <div class="reverse-theory-box">
      <table class="reverse-theory-list">
        <tr *ngFor="let item of reverseResult; let i = index">
          <td class="number">
            {{i+1}}
          </td>
          <td class="positive">
            改善特性
          </td>
          <td class="weight">
            {{item.improve}}
          </td>
          <td class="nagative">
            恶化特性
          </td>
          <td class="size">
            {{item.deteriorate}}
          </td>
        </tr>
      </table>
    </div>
    <!--右边的快捷按钮-->
    <app-contradiction-right-bar></app-contradiction-right-bar>

  </div>

</section>

