@import "../../../assets/css/variable.styl"

.params
  padding-bottom 46px !important
.contraction-wrap-box
  padding-bottom 0 !important
  padding-top
    27px
.params-title
  p
    font-size $font-big-size
    color $theme-main-light-blue-color
    text-align center
    padding-bottom 20px
    border-bottom 1px solid #e7e7e7
.params-explain
  padding 30px 30px 16px
.params-list
  padding 0 30px 30px
  ol
    list-style-type decimal !important
    li
      list-style-position inside
      dl
        display inline
.params-explain
.params-list
  dl
    line-height 26px
    dt
    dd
      display inline
    dt
      font-size $font-little-big-size
    dd
      font-size $font-nomal-size
      color $font-gray-color

