<section class="params contraction-wrap">

  <div class="params-box contraction-wrap-box">

    <div class="params-title">
      <p>48个通用工程参数</p>
    </div>

    <div class="params-explain">
      <dl>
        <dt>运动物体：</dt>
        <dd>指物体自身或借助外力在一定空间内运动的物体。</dd>
      </dl>
      <dl>
        <dt>静止物体：</dt>
        <dd>指物体自身或借助外力不能使其在一定空间内运动的物体。</dd>
      </dl>
    </div>

    <div class="params-list">
      <ol>
        <li>
          <dl>
            <dt>移动物体的质量：</dt>
            <dd>在重力场中运动物体所受到的重力。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>移动物体的质量：</dt>
            <dd>在重力场中运动物体所受到的重力。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>移动物体的长度：</dt>
            <dd>长度是指移动物体的任意线性尺寸，如长、宽、高、角度。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>移动物体的长度：</dt>
            <dd>长度是指静止物体的任意线性尺寸，如长、宽、高、角度。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>移动物体的面积：</dt>
            <dd>面积是指物体内部或外部的任意二维尺寸。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>静止物体的面积：</dt>
            <dd>面积是指物体内部或外部的任意二维尺寸。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>移动物体的体积：</dt>
            <dd>体积是指物体的三维尺寸。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>静止物体的体积：</dt>
            <dd>体积是指物体的三维尺寸。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>形状：</dt>
            <dd>物体或系统的外貌或轮廓。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>物质的数量：</dt>
            <dd>制造一个物体（或系统）所需要的材料、部件或子系统等物质的数量，它们可以部分或全部、临时或永久地被改变。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>信息的数量：</dt>
            <dd>一种（附属）系统的信息资源（资料）的数量。</dd>
          </dl>
        </li><li>
        <dl>
          <dt>运动物体的耐久时间：</dt>
          <dd>运动物体完成规定作用的时间、服务时间，以及耐久力等（即物体失去功能前的寿命）。两次故障之间的平均时间也是作用时间的一种度量。</dd>
        </dl>
      </li>
        <li>
        <dl>
          <dt>静止物体的耐久时间：</dt>
          <dd>静止物体完成规定作用的时间、服务时间，以及耐久力等（即物体失去功能前的寿命）。两次故障之间的时间也是作用时间的一种度量。</dd>
        </dl>
      </li>
        <li>
          <dl>
            <dt>速度：</dt>
            <dd>运动物体的速度，单位时间物体活动过程或作用。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>力：</dt>
            <dd>两个物体（或系统）间相互作用的度量。试图改变物体状态的任何作用。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>运动物体消耗的能量：</dt>
            <dd>运动物体在做功期间所耗费的能量。力学中能量指作用力与距离的乘积，包括消耗超系统提供的能量。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>静止物体的消耗能量：</dt>
            <dd>静止物体在做功期间所耗费的能量。力学中能量指作用力与距离的乘积，包括消耗超系统提供的能量。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>功率：</dt>
            <dd>单位时间内所做的功或消耗的能量，即利用能量的速度。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>张力/压力（应力或压强）：</dt>
            <dd>作用在物体单位面积上的力。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>强度：</dt>
            <dd>物体抵抗外力而使其本身不被破坏（分裂）的能力。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>结构的稳定性：</dt>
            <dd>系统的完整性及系统组成部分之间的关系。整个物体或系统在受外在因素影响而维持不变的能力。磨损、化学分解及拆卸都会降低稳定性。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>温度：</dt>
            <dd>物体或系统所处的热状态，包括其它热参数如影响改变温度变化速度的热容量。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>明亮度（照度）：</dt>
            <dd>单位面积上的光通量。可以理解为物体的亮度、反光性、照明质量等。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>运行效率：</dt>
            <dd>涉及一个物体或系统的主要有用功能或相关功能。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>物质的浪费（损失）：</dt>
            <dd>对系统或物体做无用功所消耗的物质。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>时间的浪费（损失）：</dt>
            <dd>时间是指一项活动所延续的时间间隔。改进时间的浪费指减少一项活动所花费的时间。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>能量的浪费（损失）：</dt>
            <dd>对系统或物体做无用功所消耗的能量。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>信息的遗漏（损失）：</dt>
            <dd>资料或系统输入项目数据的丢失。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>噪音：</dt>
            <dd>涉及到物理噪音或噪音数据有关。例如标准、频率和音色等的参数。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>有害的散发：</dt>
            <dd>一个系统或物体产生任何形式的污染物或向环境扩散。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>有害的副作用（物体产生的有害因素）：</dt>
            <dd>造成系统效应或完成功能质量降低的有害因素。这些有害因素来自物体或系统操作的一部分而产生的。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>适应性：</dt>
            <dd>系统或物体应对外部变化的能力，或在各种外部影响下发挥功能的能力。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>兼容性/可连通性：</dt>
            <dd>该个系统和其它系统能够联合的程度。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>使用方便性（操作性）：</dt>
            <dd>物体或系统在使用或操作上的容易程度。要使操作过程中需要的人数越少、操作步骤越少，以及工具越少，代表方便性越高，同时还要确保有较高的产出。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>可靠性：</dt>
            <dd>物体或系统能够正常执行其功能的能力。可理解为无故障操作概率或无故障运行时间。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>易维护性（维修性）：</dt>
            <dd>物体或系统发生故障或损坏后容易修护或恢复功能的程度。需要时间短、方便和简单。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>安全性：</dt>
            <dd>系统或物体保护自己的能力，免受未获准的进入、使用、窃取或其它不利影响。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>易受伤性：</dt>
            <dd>一个物体或系统保护自己或它的用户不受危害的能力。一个物体或系统抵抗外部损坏的能力。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>美观：</dt>
            <dd>一个物体或系统的外观是否漂亮。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>外来有害因素（作用于物体有害因素）：</dt>
            <dd>物体对来自外部或环境中造成系统效率或质量的降低的有害作用的影响力。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>可制造性（制造性）：</dt>
            <dd>物体或系统在制造过程中方便或简易程度。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>制造的准确度（精度）：</dt>
            <dd>制造产品的实际性能与设计所需性能或技术规范和标准所预定的性能之间存在的误差。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>自动化程度：</dt>
            <dd>物体或系统在无人操作的情况下完成任务的能力。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>生产率：</dt>
            <dd>在单位时间内，系统或物体所完成的功能或操作次数。或完成一个功能或操作所需的时间以及单位时间的输出，或单位输出的成本等。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>装置的复杂性：</dt>
            <dd>在构成物体或系统的元件数量以及多样性。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>控制的复杂性：</dt>
            <dd>用于测量或操作系统所需的组件数量与多样性。一个系统复杂、成本高、需要较长时间建造及使用，或部件与部件之间关系复杂，都使得系统的监控与测试困难，测试精度高，
              增加了测试的成本，也是测试难度的一种标志。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>测量难度：</dt>
            <dd>测量工作复杂、昂贵、耗时，测量困难、精度高。</dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>测量的准确度（精度）：</dt>
            <dd>测量的准确度（精度）：系统或物体性质所测量到的值于其实际值之间的误差。减少误差将提高测试精度。</dd>
          </dl>
        </li>
      </ol>
    </div>

  </div>

</section>
