<section class="register-sec forgetpwd-sec">
  <div class="register-box forgetpwd-sec-box">
    <div class="register-title forgetpwd-title">
      忘记密码
    </div>
    <div class="register-form forgetpwd-form">
      <div class="form-field">
        <span>
          手机号：
        </span>
        <span>
          <input placeholder="请输入手机号">
        </span>
        <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
      </div>
      <div class="form-field">
        <span>
          验证码：
        </span>
        <span>
          <input type="password" placeholder="******">
          <button class="code-btn">
          获取验证码
        </button>
        </span>
        <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
      </div>
      <div class="form-field">
        <span>
          密码：
        </span>
        <span>
          <input type="password" placeholder="******">
        </span>
        <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
      </div>
      <div class="form-field">
        <span>
          重复密码：
        </span>
        <span>
          <input>
        </span>
        <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
      </div>
    </div>

    <div class="submit-btn-box">
      <button>重置</button>
    </div>
  </div>
</section>
