@import "../../../assets/css/variable.styl"

.forgetpwd-form
  padding-bottom 50px !important
.forgetpwd-sec-box
  padding-bottom 436px
span
  position relative
  .code-btn
    position absolute
    color $font-white-color
    background $theme-main-light-blue-color
    right 0
    top 0
    font-size $font-nomal-size
    height 30px
    width  90px
    &[disabled]
      background #9e9e9e
      color #fff
.submit-btn-box
  width 100%
  text-align center
  button
    color #ffffff
    background $theme-main-light-blue-color
    font-size $font-little-big-size
    width 120px
    height 32px
    border-radius 3px
    &[disabled]
      background #9e9e9e
      color #fff
.pwd-icon
  font-size 11px
  position absolute
  top 9px
  right 10px
  cursor pointer
.icon-active
  color $theme-main-light-blue-color
.success
  svg
    fill #16b84b
