<section class="register-sec forgetpwd-sec">
  <div class="register-box forgetpwd-sec-box">
    <div class="register-title forgetpwd-title">
      忘记密码
    </div>
    <div class="register-form forgetpwd-form">
      <div class="form-field">
        <span>
          手机号：
        </span>
        <span>
          <input #phone placeholder="请输入手机号" (blur)="test('phone', phone.value)">
        </span>
        <span class="warn" *ngIf="errphone">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        {{errphone}}
      </span>
        <span class="success" *ngIf="successphone">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-zhengque"></use>
        </svg>
      </span>
      </div>
      <div class="form-field">
        <span>
          验证码：
        </span>
        <span>
          <input #code placeholder="请输入验证码" (blur)="test('code', code.value)">
          <button class="code-btn" (click)="getcode()" [disabled]="!hasphone">
            <span *ngIf="!iscounting">获取验证码</span>
            <span *ngIf="iscounting">{{count}}</span>
        </button>
        </span>
        <span class="warn" *ngIf="errcode">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        {{errcode}}
      </span>
        <span class="success" *ngIf="successcode">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-zhengque"></use>
        </svg>
      </span>
      </div>
      <div class="form-field">
        <span>
          密码：
        </span>
        <span>
        <input #pwd1 [type]="showpwd ? 'text' : 'password'" placeholder="******" (blur)="test('pwd1', pwd1.value)">
        <svg class="pwd-icon" [class.icon-active]="showpwd" (click)="showpwd = !showpwd">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-xianshi"></use>
          </svg>
      </span>
        <span class="warn" *ngIf="errpwd1">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        {{errpwd1}}
      </span>
        <span class="success" *ngIf="successpwd1">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-zhengque"></use>
        </svg>
      </span>
      </div>
      <div class="form-field">
        <span>
          重复密码：
        </span>
        <span>
        <input #pwd2 [type]="showpwd2 ? 'text' : 'password'" placeholder="******" (blur)="test('pwd2', pwd2.value)">
        <svg class="pwd-icon" [class.icon-active]="showpwd2" (click)="showpwd2 = !showpwd2">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-xianshi"></use>
          </svg>
      </span>
        <span class="warn" *ngIf="errpwd2">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        {{errpwd2}}
      </span>
        <span class="success" *ngIf="successpwd2">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-zhengque"></use>
        </svg>
      </span>
      </div>
    </div>

    <div class="submit-btn-box" (click)="submit()">
      <button [disabled]="!phone || !code || !pwd1 || !pwd2">重置</button>
    </div>
  </div>
</section>

<app-modal [msg]="msg" *ngIf="msg"></app-modal>
