<section class="register-sec wrap">
  <div class="register-sec-box">
  <div class="register-box">
    <div class="register-title">
      用户注册
    </div>
    <div class="register-form form" [formGroup]="registerForm">
      <div class="form-field">
        <span>
          <span class="star">*</span>
          用户名：
        </span>
        <span>
          <input placeholder="请输入用户名" (blur)="test('uname')" formControlName="uname">
        </span>
        <span class="warn" *ngIf="erruname">
          <i class="icon-tishi"></i>
        {{erruname}}
      </span>
      <span class="success" *ngIf="successuname">
         <i class="icon-zhengque"></i>
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          用户姓名：
        </span>
        <span>
          <input placeholder="请输入姓名" (blur)="test('name')" formControlName="name">
        </span>
        <span class="warn" *ngIf="errname">
           <i class="icon-tishi"></i>
        {{errname}}
      </span>
        <span class="success" *ngIf="successname">
           <i class="icon-zhengque"></i>
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          密码：
        </span>
        <span>
          <input [type]="showpwd1 ? 'text' : 'password'" placeholder="请输入密码" (blur)="test('pwd1')" formControlName="pwd1">
          <i class="icon-xianshi pwd-icon" [class.icon-active]="showpwd1" [class.issafari]="isSafari"  (click)="showpwd1 = !showpwd1"></i>
        </span>
        <span class="warn" *ngIf="errpwd1">
           <i class="icon-tishi"></i>
        {{errpwd1}}
      </span>
        <span class="success" *ngIf="successpwd1">
           <i class="icon-zhengque"></i>
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          重复密码：
        </span>
        <span>
          <input [type]="showpwd2 ? 'text' : 'password'" placeholder="请再次输入密码" (blur)="test('pwd2')" formControlName="pwd2">
          <i class="icon-xianshi pwd-icon" [class.icon-active]="showpwd2" [class.issafari]="isSafari"  (click)="showpwd2 = !showpwd2"></i>
        </span>
        <span class="warn" *ngIf="errpwd2">
           <i class="icon-tishi"></i>
        {{errpwd2}}
      </span>
        <span class="success" *ngIf="successpwd2">
           <i class="icon-zhengque"></i>
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          手机号：
        </span>
        <span>
          <input placeholder="请输入手机号" (blur)="test('phone')" formControlName="phone">
        </span>
        <span class="warn" *ngIf="errphone">
           <i class="icon-tishi"></i>
        {{errphone}}
      </span>
        <span class="success" *ngIf="successphone">
           <i class="icon-zhengque"></i>
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          验证码：
        </span>
        <span>
          <input formControlName="code" placeholder="请输入验证码" (blur)="test('code')">
          <button class="code-btn" (click)="getcode()" [disabled]="!this.registerForm.value.phone">
            <span *ngIf="!iscounting">获取验证码</span>
            <span *ngIf="iscounting">{{count}}</span>
          </button>
        </span>
        <span class="warn"*ngIf="errcode" >
           <i class="icon-tishi"></i>
        {{errcode}}
      </span>
        <span class="success" *ngIf="successcode">
           <i class="icon-zhengque"></i>
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          邮箱：
        </span>
        <span>
          <input type="email" (blur)="test('email')" placeholder="请输入邮箱" formControlName="email">
        </span>
        <span class="warn" *ngIf="erremail">
           <i class="icon-tishi"></i>
        {{erremail}}
      </span>
        <span class="success" *ngIf="successemail">
           <i class="icon-zhengque"></i>
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          性别：
        </span>
        <span class="radio-box">
          <label for="man"><input type="radio" name="sex" value="男" id="man" class="sex" #man checked (click)="chooseSex(man.value)">男</label>
          <label for="woman"><input type="radio" name="sex" value="女" id="woman" class="sex" #woman (click)="chooseSex(woman.value)">女</label>
        </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          所属领域：
        </span>
        <span>
          <select formControlName="field" (change)="test('field')">
            <option disabled value="">
              请选择所属领域
            </option>
            <option value="食品农业">
              食品农业
            </option>
            <option value="电力通信">
              电力通信
            </option>
            <option value="航空航天">
              航空航天
            </option>
            <option value="化工领域">
              化工领域
            </option>
            <option value="能源环境">
              能源环境
            </option>
            <option value="建筑运输">
              建筑运输
            </option>
            <option value="生活教育">
              生活教育
            </option>
            <option value="机械工业">
              机械工业
            </option>
            <option value="电子信息">
              电子信息
            </option>
            <option value="地质水利">
              地质水利
            </option>
            <option value="医疗保健">
              医疗保健
            </option>
            <option value="计算机">
              计算机
            </option>
            <option value="其他">
              其他
            </option>
          </select>
        </span>
        <span class="warn" *ngIf="errfield">
           <i class="icon-tishi"></i>
        {{errfield}}
      </span>
        <span class="success" *ngIf="successfield">
           <i class="icon-zhengque"></i>
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          单位名称：
        </span>
        <span>
          <input placeholder="请输入单位名称" (blur)="test('work')" formControlName="work">
        </span>
        <span class="warn" *ngIf="errwork">
           <i class="icon-tishi"></i>
        {{errwork}}
      </span>
        <span class="success" *ngIf="successwork">
           <i class="icon-zhengque"></i>
      </span>
      </div>
    </div>

    <div class="submit-btn-box">
      <button (click)="registerMember()" [disabled]="!this.registerForm.value.uname || !this.registerForm.value.name || !this.registerForm.value.pwd1 || !this.registerForm.value.pwd2 || !this.registerForm.value.phone || !this.registerForm.value.code || !this.registerForm.value.email || !this.registerForm.value.field || !this.registerForm.value.work">注册</button>
      <div class="tip">
        点击注册按钮，表示您已经同意我们的<a href="#/protocol">《服务条款》</a>
      </div>
    </div>
  </div>
  </div>
</section>

<app-modal [msg]="msg" *ngIf="msg"></app-modal>


