<section class="register-sec">
  <div class="register-box">
    <div class="register-title">
      用户注册
    </div>
    <div class="register-form">
      <div class="form-field">
        <span>
          <span class="star">*</span>
          用户名：
        </span>
        <span>
          <input placeholder="请输入用户名">
        </span>
        <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          用户姓名：
        </span>
        <span>
          <input type="password" placeholder="******">
        </span>
        <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          密码：
        </span>
        <span>
          <input type="password" placeholder="******">
        </span>
        <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          重复密码：
        </span>
        <span>
          <input>
        </span>
        <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          手机号：
        </span>
        <span>
          <input placeholder="请输入手机号">
        </span>
        <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          验证码：
        </span>
        <span>
          <input>
        </span>
        <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          邮箱：
        </span>
        <span>
          <input type="email">
        </span>
        <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          性别：
        </span>
        <span class="radio-box">
          <label for="man"><input type="radio" name="sex" value="man" id="man" checked class="sex">男</label>
          <label for="woman"><input type="radio" name="sex" value="man" id="woman" class="sex">女</label>
        </span>
        <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          所属领域：
        </span>
        <span>
          <select>
            <option>
              请选择所属领域
            </option>
            <option>
              请选择所属领域
            </option>
            <option>
              请选择所属领域
            </option>
            <option>
              请选择所属领域
            </option>
            <option>
              请选择所属领域
            </option>
          </select>
        </span>
        <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
      </div>
      <div class="form-field">
        <span>
          <span class="star">*</span>
          单位名称：
        </span>
        <span>
          <input placeholder="请输入单位名称">
        </span>
        <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
      </div>
    </div>
  </div>
</section>
