@import "../../../assets/css/variable.styl"

.protocol-sec
  width 100%
  padding-top 20px
  .protocol-box
    background #f8f8f8
    padding 20px 0
    .protocol-sec-box
      background #fff
      width 1000px
      margin 0 auto
      margin-top 20px
      padding 30px
      .title
        font-size $font-big-size
        color $theme-main-light-blue-color
        text-align center
        line-height 1
        padding-bottom 28px
      p
        font-size $font-nomal-size
        color $font-gray-color
        margin-bottom 26px
        line-height 22px
        text-indent 2em
      .no-margin-bottom
        margin-bottom 0
      .no-indent
        text-indent 0
      .small-title
        font-size $font-little-big-size
        color $font-deep-gray-color
        margin-bottom 26px
