<div class="pop-wrap" *ngIf="popmodal.isLoginShow">
  <div class="pop-box container">
    <div class="pop-title">
      {{popmodal.title}}
      <span (click)="close()">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-guanbi"></use>
            </svg>
      </span>
    </div>
    <div class="pop-detail">

      <!--登录模块-->
      <div class="login-box login-form" [formGroup]="loginForm">
        <div class="username form-field">
          <span class="username-title title">
            用户名：
          </span>
          <span>
            <input placeholder="请输入用户名或手机号" formControlName="uname">
          </span>
        </div>
        <div class="password form-field">
          <span class="password-title title">
            密  码：
          </span>
          <span>
            <input [type]="showpwd ? 'text' : 'password'" placeholder="请输入密码" formControlName="pwd">
            <svg class="pwd-icon" [class.icon-active]="showpwd" (click)="showpwd = !showpwd">
              <use xlink:href="assets/icon/symbol-defs.svg#icon-xianshi"></use>
            </svg>
        </span>
        </div>
        <div class="form-field remmember-forget-box">
          <span class="remember">
            <label for="rem"><input #rem name="rem" type="checkbox" id="rem" (click)="checkvalue($event.target.checked)">记住我</label>
          </span>
          <a class="forgetpwd" href="/forgetpwd">
            忘记密码？
          </a>
        </div>
        <div class="warn" *ngIf="errmsg">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        {{errmsg}}
        </div>
        <div class="login-btn">
          <button (click)="loginFunc()" [disabled]="!this.loginForm.value.uname || !this.loginForm.value.pwd">
            登录
          </button>
        </div>
        <div class="tip">
          还没有账号？<a href="/register">立即注册</a>
        </div>
      </div>

    </div>
  </div>
</div>

<app-modal [msg]="loginSuccess" *ngIf="loginSuccess"></app-modal>
