@import "../../../assets/css/variable.styl"

section
  width 100%
  .footer
    width 1200px
    margin 0 auto
    text-align center
    height 51px
    position fixed
    bottom 0
    color rgba(52, 52, 52, 0.6)
    font-size $font-small-size
    line-height 51px
    border-top 1px solid #f1f2f0
