<app-navbar></app-navbar>

<section class="wrap-box">
  <div class="left-nav">
    <div class="optimistic">
      <span>
        改善特性:
      </span>
      <select>
        <option>
          a
        </option>
        <option>
          b
        </option>
        <option>
          c
        </option>
      </select>
    </div>
    <div class="nagavi">
      <span>
        改善特性:
      </span>
      <select>
        <option>
          a
        </option>
        <option>
          b
        </option>
        <option>
          c
        </option>
      </select>
    </div>
    <button>
      冲突检索
    </button>
  </div>
  <div class="main-container">
    <div class="detail">
      阿奇舒勒通过大量专利的研究发现：“发明”往往需要解决隐藏在问题当中的矛盾。矛盾是发明问题的核心，矛盾存在与否是区分发明问题与普通问题的标志，解决矛盾就成为TRIZ最根本的任务。TRIZ解决矛盾的能力也是面对工程技术问题进行创新的利器。“创新咖啡厅”提供了经典矛盾矩阵、03版矛盾矩阵以及管理创新矛盾矩阵，帮助工程师解决发明和创新管理过程中所遇到的矛盾问题。以TRIZ之矛，攻技术难题之盾！
    </div>
  </div>
</section>
