<!--分类-->
<div class="top-nav" id="second-top-nav">
  <div class="getMoreCatefory-btn-left" (click)="getmore('left')" *ngIf="leftbtn">
    <button>
      <i class="icon-xiangzuo"></i>
    </button>
  </div>
  <div class="top-nav-box" id="scrollbox">
    <ul id="nameList-box">
      <li *ngFor="let item of resultList; let num = index" (click)="choosename(item.name, item.id, item.principleId, num); choosereversename(item.name, item.id, item.principleId)" [ngClass]="{'active': activeName === item.name }">
        {{item.principleNum}}.{{item.name}}
      </li>
    </ul>
  </div>
  <div class="getMoreCatefory-btn-right" *ngIf="rightbtn">
    <button (click)="getmore('right')">
      <i class="icon-xiayibu"></i>
    </button>
  </div>
</div>
