<!--分类-->
<div class="top-nav">
  <ul>
    <li class="active">
      分割
    </li>
    <li>
      抽取
    </li>
    <li>
      局部质量
    </li>
    <li>
      不对称
    </li>
    <li>
      合并
    </li>
    <li>
      多用性
    </li>
    <li>
      套装
    </li>
    <li>
      重量补偿
    </li>
    <li>
      预加反作用
    </li>
    <li>
      预操作
    </li>
  </ul>
  <div class="getMoreCatefory-btn">
    <button>
      <svg>
        <use xlink:href="assets/icon/symbol-defs.svg#icon-xiayibu"></use>
      </svg>
    </button>
  </div>
</div>
