<section class="home-sec wrap">
  <div class="top-pic">
    <img src="../../../assets/img/shouye-@2x.png"/>
  </div>

  <div class="description">
    <div class="des-title">
      创新思维工具系统
    </div>
    <hr/>
    <div class="des-detail">
      “我比别人看得远，是因为我站在巨人的肩上！”每位工程师所有的工程技术和知识都是有限的，而每一项工程难题的解决都是对工程师的巨大挑战，如何让我们的工程师轻松应对工程难题？让工程师们敢于创新、善于创新、乐于创新？TRIZ工具就是工程师脚下不可或缺的巨人，帮助工程师们站得高、看得远、理的清。TRIZ从大量专利中抽象而来，形成了功能分析、因果分析、资源分析等分析工具破解工程问题，以及知识库、技术矛盾、物理矛盾、物-场模型、创新思维、进化法则、IFR等重要解题和产品改进工具。可以说：TRIZ本身就是站在巨人肩膀的创新工具，TRIZ提供给工程师强有力的武器来破解工程技术创新过程中的难题。“创新咖啡厅”打造了以TRIZ经典工具为基础、以CAFÉ-TRIZ为进阶、以其他创新工具为辅助的完善的计算机辅助创新平台。从经往后，让我们的工程师敢于创新、善于创新、乐于创新！
    </div>
  </div>

  <div class="search-class">
    <div class="search-class-box">
      <ul>
        <li>
          <div class="svg-box">
            <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-maodong"></use>
            </svg>
          </div>
          <span>2003版矛盾矩阵</span>
        </li>
        <li class="active">
          <div class="svg-box">
            <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-jindianjiansuo"></use>
            </svg>
          </div>
          <span>经典矛盾矩阵</span>
          <div class="gotoSearch-btn">
            <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-xiayibu_shouye"></use>
            </svg>
          </div>
        </li>
        <li>
          <div class="svg-box">
            <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-xiaoyingjiansuo"></use>
            </svg>
          </div>
          <span>常用效应检索</span>
        </li>
      </ul>
    </div>
  </div>
</section>
