@import "../../../assets/css/variable.styl"

.page-list
  text-align center
  color #6e6e6e
  font-size 12px
  padding 70px 0

.page-list
  li
    display inline-block
    height 22px
    width 22px
    line-height 22px
    margin 0 7px
    transition color .3s
    cursor pointer
    background transparent
    border 0.5px solid rgba(52,52,52,0.3)
    border-radius 3px


.page-list
  .active
    color #fff
    background-color #1577e4


.page-list
  li:hover
    color $font-white-color
    background-color #1577e4


.page-list
  .active:hover
    color #fff
    background-color #1577e4


.page-list
  .icon-dot
    cursor default


.page-list
  .icon-dot:hover
    color $font-white-color
    background $theme-main-deep-blue-color

