@import "../../../assets/css/variable.styl"

.info-field
  span
    position relative
    display inline-block
    height 30px
    input
      line-height  30px
    .code-btn
      position absolute
      color $font-white-color
      background $theme-main-light-blue-color
      right 0
      top 0
      font-size $font-nomal-size
      height 30px
      width  90px
      line-height 30px

.pwd-icon
  width 14px
  height 11px
  position absolute
  top 8px
  right 10px
  cursor pointer
.icon-active
  fill $theme-main-light-blue-color
.issafari
  right 25px

.submit-button
  button
    &[disabled]
      background #9e9e9e !important
      color #fff !important
