@import "../../../assets/css/variable.styl"

.info-field
  span
    position relative
    .code-btn
      position absolute
      color $font-white-color
      background $theme-main-light-blue-color
      right 5px
      top -2px
      font-size $font-nomal-size
      height 30px
      width  90px
