<div class="edit-password-box detail-info">
  <div class="user-title">
    修改密码
  </div>
  <div class="passwoed-form user-info">
    <div class="pwd1 info-field">
      <span class="blank-name">
        密码：
      </span>
      <span>
        <input #pwd1 [type]="showpwd ? 'text' : 'password'" placeholder="请输入密码" (blur)="test('pwd1', pwd1.value)">
        <i class="icon-xianshi pwd-icon" [class.icon-active]="showpwd" [class.issafari]="isSafari"  (click)="showpwd = !showpwd"></i>
      </span>
      <span class="warn" *ngIf="errpwd1">
        <i class="icon-tishi"></i>
        {{errpwd1}}
      </span>
    </div>
    <div class="pwd2 info-field">
      <span class="blank-name">
        重复密码：
      </span>
      <span>
        <input #pwd2 [type]="showpwd2 ? 'text' : 'password'" placeholder="请再次输入密码" (blur)="test('pwd2', pwd2.value)">
        <i class="icon-xianshi pwd-icon" [class.icon-active]="showpwd2" [class.issafari]="isSafari"  (click)="showpwd2 = !showpwd2"></i>
      </span>
      <span class="warn"  *ngIf="errpwd2">
         <i class="icon-tishi"></i>
        {{errpwd2}}
      </span>
    </div>
    <div class="code info-field">
      <span class="blank-name">
        验证码：
      </span>
      <span>
        <input #code type="number" placeholder="请输入验证码" (blur)="test('code', code.value)">
        <button class="code-btn" (click)="getcode()">
          <span *ngIf="!iscounting">获取验证码</span>
          <span *ngIf="iscounting">{{count}}</span>
        </button>
      </span>
      <span class="warn"  *ngIf="errcode">
         <i class="icon-tishi"></i>
        {{errcode}}
      </span>
    </div>
  </div>
  <div class="submit-button">
    <button (click)="submit()" [disabled]="!pwd1.value || !pwd2.value || !code.value">
      确认修改
    </button>
  </div>
</div>

<app-modal [msg]="msg" *ngIf="msg"></app-modal>

<app-pop [popmodal]="popmodal" (closePop)="closePop()" ></app-pop>
