@import "../../../assets/css/variable.styl"

.info-field
  span
    position relative
    .code-btn
      position absolute
      color $font-white-color
      background $theme-main-light-blue-color
      right 0
      font-size $font-nomal-size
      height 30px
      width  90px

.pwd-icon
  width 14px
  height 11px
  position absolute
  top 6px
  right 10px
  cursor pointer
.icon-active
  fill $theme-main-light-blue-color
.issafari
  right 25px

.submit-button
  button
    &[disabled]
      background #9e9e9e !important
      color #fff !important
