@import "../../../assets/css/variable.styl"

.description
  width 100%
  text-align center
  padding-top 69px
  padding-bottom 76px
  background-image url('../../../assets/img/shouyebeijing-@2x.png')
  background-size cover
  .des-title
    color $theme-main-light-blue-color
    font-size $font-biggest-size
    padding-bottom 15px
  hr
    border 1px solid $theme-main-light-blue-color
    width 60px
    margin 0 auto
  .des-detail
    font-size $font-nomal-size
    color $font-gray-color
    width 940px
    margin 0 auto
    padding 40px 0 71px
    line-height 1.57
    text-align left
  .btn-box
    button
      font-size $font-little-big-size
      color $theme-main-light-blue-color
      line-height 1
      border 1px solid $theme-main-light-blue-color
      border-radius 3px
      padding 8px
      width 120px
      height 32px
