<div class="description">
  <div class="des-title">
    科学效应知识检索
  </div>
  <hr/>
  <div class="des-detail">
    “吾生也有涯，而知也无涯。以有涯随无涯，殆已！”每一个人掌握知识的范围和能力总是有限的，一个普通工程师通常最多只掌握本领域的近百个效应，能熟练应用的更少，而遇到的问题却是无限的。TRIZ效应知识库为解决方面问题提供了强有力的帮助。TRIZ知识库将自然科学及工程领域涉及到的近千种常用知识按照一定的原则分门别类按照从功能/属性到知识的原则来组织，这种特殊的其组织形式就像为浩瀚的知识海洋装上了准确高效的搜索引擎，只要使用者确定了需要实现的功能或需要改变的属性（就好像在搜索引擎中输入关键词一样），然后就可以看到相应的知识，非常便利。从而能有效地克服使用者行业和领域知识不足的缺陷。随着CAI技术的发展，知识库的作用日益显著，过去只有专家学者才能使用的高深技术和渊博知识资源，现已成为所有人易学好用的创新工具，从TRIZ知识库中广泛获取知识，可以快速提升科技人员的创新能力，是实施三级、四级，乃至五级发明的有效途径。
  </div>

  <!--<div class="btn-box">-->
  <!--<button routerLink="/repository/detail">-->
  <!--常用效应检索-->
  <!--</button>-->
  <!--</div>-->
</div>
