<section class="physical contraction-wrap">

  <!--物理矛盾类别-->
  <div class="physical-category-box">
    <div class="physical-category">
      <ul>
        <li>
          <div class="btn-box">
            <svg id="图层_1" data-name="图层 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 152.7 153.3"><defs><style>.cls-1{fill:none;;stroke-linecap:round;stroke-linejoin:round;stroke-width:14px;}</style></defs><title>zhankai</title><line class="cls-1" x1="7" y1="7" x2="145.7" y2="7"/><line class="cls-1" x1="76.4" y1="53.3" x2="145.7" y2="53.3"/><line class="cls-1" x1="76.4" y1="99.7" x2="145.7" y2="99.7"/><line class="cls-1" x1="7" y1="146.3" x2="145.7" y2="146.3"/><path d="M63.1,97.5,32.7,75.7a4.43,4.43,0,0,0-7,3.6v43.5a4.43,4.43,0,0,0,7,3.6l30.5-21.8A4.35,4.35,0,0,0,63.1,97.5Z" transform="translate(-24.3 -24)"/></svg>
          </div>
        </li>
        <li (click)="choosePart(1,'1')" [class.active]="type===1">
          空间分离
        </li>
        <li (click)="choosePart(2,'2')" [class.active]="type===2">
          时间分离
        </li>
        <li (click)="choosePart(3,'7')" [class.active]="type===3">
          基于条件的分离
        </li>
        <li [class.active]="type===4" (mouseover)="toggleShow = true" (mouseleave)= "toggleShow = false">
          系统级别分离
          <img src="assets/img/xiala-2@2x.png"/>
          <div class="toggle" *ngIf="toggleShow">
            <div (click)="choosePart(4,'3')" [class.active]="state === '3'">转换到子系统</div>
            <div (click)="choosePart(4,'4')" [class.active]="state === '4'">转换到超系统</div>
            <div (click)="choosePart(4,'5')" [class.active]="state === '5'">转换到竞争性系统</div>
            <div (click)="choosePart(4,'6')" [class.active]="state === '6'">转换到相反系统</div>
          </div>
        </li>
        <!--<li>-->
          <!--整体与部分的分离-->
        <!--</li>-->
      </ul>
    </div>
  </div>

  <div class="physical-box contraction-wrap-box">

    <div class="des">
      <p *ngIf="type === 1">如果在物理矛盾中，对待某一参数的互斥要求存在于不同的空间中，也即在某空间中要求该参数为A，在另外一个空间中要求该参数为-A，则可以使用空间分离原理解决物理矛盾。</p>
      <p *ngIf="type === 2">如果在物理矛盾中，对待某一参数的互斥要求存在于不同的时间内，也即在某时间段内要求该参数为A，在另外的时间段内要求该参数为-A，则可以使用时间分离原理解决物理矛盾。</p>
      <p *ngIf="type === 3">如果在物理矛盾中，对待某一参数的互斥要求存在于不同的条件下，也即在某条件存在时要求该参数为A，在另外的条件存在时要求该参数为-A，则可以使用条件分离原理解决物理矛盾。需要指明的是，条件分离原理是对以上空间、时间和系统级别三种分离原理的总结和提炼，是解决物理矛盾的最根本思想，不同的时间、空间、整体和部分都可以看做是条件，将其单独列为分离原理是因为其使用频率相对较高。</p>
      <p *ngIf="type === 4">如果在物理矛盾中，对待某一参数的互斥要求存在于系统不同的层次下（包括了超系统、系统、子系统等不同级别），也即在某一层次下要求该参数为A，在上一层次或者下一层次则要求该参数为-A，则可以使用系统级别分离原理解决物理矛盾。</p>
    </div>

    <div class="detail-box">
      <app-category-box [resultList]="resultNameList" (chooseName)="chooseName($event)" (getMore)="getmore()"></app-category-box>

      <!--<p class="description">-->
      <!--将一个物体分成相对独立的部分；使物体分成容易组装及拆卸的部分；增加物体相互独立的程度。例如：用多台个人计算机代替一台大型计算机完成相同的功能；花园中浇花用的软管系统，可根据需要根据快速接头连接成所需的长度；用百叶窗代替整体窗帘。-->
      <!--</p>-->

      <!--具体案例-->
      <div class="case">
        <app-loading *ngIf="isLoading"></app-loading>
      </div>
    </div>

    <!--右边的快捷按钮-->
    <app-contradiction-right-bar></app-contradiction-right-bar>
  </div>

</section>
