@import "../../../assets/css/variable.styl"

main
  width 100%
  .top-img
    width 100%
  .description
    padding-top 3.5rem
    width 940px
    margin 0 auto
    text-align center
    .title
      color $font-main-deep-yellow-color
      hr
        margin-top 29px
        border 0
        color $theme-main-light-blue-color
        background-color $theme-main-light-blue-color
        width 100px
        height 2px
    .des-detail
      padding-top 4rem
      text-indent 2em
      font-size $font-nomal-size
      line-height 1.57
      text-align left
      color $font-gray-color
  .search-menu
    width 100%
    text-align center
    margin-top 3.7rem
    padding 2rem
    background $theme-main-gray-color
    ul
      width 940px
      margin 0 auto
      display flex
      justify-content space-around
      li
        font-size $font-nomal-size
        color $font-light-gray-color
        line-height 1.57
        div
          font-size $font-nomal-size
          color $font-light-gray-color
          &:nth-child(1)
            width 120px
            height 120px
            border-radius 50%
            background #fff
            position relative
            margin-bottom 20px
            svg
              width 60px
              height 60px
              position absolute
              left 50%
              top 50%
              margin-left -30px
              margin-top -30px
              //fill $theme-main-deep-yellow-color
              //stroke $theme-main-deep-yellow-color
          &:nth-child(3)
            margin-top 20px
            svg
              width 24px
              height 24px
              stroke $theme-main-light-blue-color
      .active
        background #fff

