<div class="detail-info">
  <div class="user-title">
    个人信息
  </div>
  <div class="user-info">
    <div class="info-field">
          <span class="blank-name">
            手机号：
          </span>
      <span>
            {{userInfo.phone}}
          </span>
    </div>
    <div class="info-field">
          <span class="blank-name">
            用户名：
          </span>
      <span>
      {{userInfo.uname}}
          </span>

    </div>
    <div class="info-field">
          <span class="blank-name">
            邮箱：
          </span>
      <span>
            <input #email type="email" value="{{userInfo.email}}" (change)="test('email', email.value)">
          </span>
      <span class="warn" *ngIf="erremail">
        <i class="icon-tishi"></i>
        {{erremail}}
      </span>
    </div>
    <div class="info-field sex">
          <span class="blank-name">
            性别：
          </span>
      <span>
            <label for="man"><input type="radio" name="sex" #man value="男" id="man" class="sex" (click)="test('sex', man.value)">男</label>
            <label for="woman"><input type="radio" name="sex" #woman value="女" id="woman" class="sex" (click)="test('sex', woman.value)">女</label>
          </span>
    </div>
    <div class="info-field">
          <span class="blank-name">
            所属领域：
          </span>
      <span>
            <select #field (change)="test('field', field.value)">
              <option id="1" value="食品农业">
                食品农业
              </option>
              <option id="2" value="电力通信">
                电力通信
              </option>
              <option id="3" value="航空航天">
                航空航天
              </option>
              <option id="4" value="化工领域">
                化工领域
              </option>
              <option id="5" value="能源环境">
                能源环境
              </option>
              <option id="6" value="建筑运输">
                建筑运输
              </option>
              <option id="7" value="生活教育">
                生活教育
              </option>
              <option id="8" value="机械工业">
                机械工业
              </option>
              <option id="9" value="电子信息">
                电子信息
              </option>
              <option id="10" value="地质水利">
                地质水利
              </option>
              <option id="11" value="医疗保健">
                医疗保健
              </option>
              <option id="12" value="计算机">
                计算机
              </option>
              <option id="13" value="其他">
                其他
              </option>
            </select>
          </span>
      <span class="warn" *ngIf="errfield">
        <i class="icon-tishi"></i>
        {{errfield}}
      </span>
    </div>
    <div class="info-field">
          <span class="blank-name">
            单位名称：
          </span>
      <span>
        <input type="text" #work value="{{userInfo.work}}" (change)="test('work', work.value)">
          </span>
      <span class="warn" *ngIf="errwork">
        <i class="icon-tishi"></i>
        {{errwork}}
      </span>
    </div>
  </div>

  <div class="submit-button">
    <button (click)="submit(userInfo.uname, userInfo.username, userInfo.phone, email.value, sexvalue, field.value, work.value)" [disabled]="erremail || errfield || errwork">
      确认修改
    </button>
  </div>
</div>

<app-modal [msg]="msg" *ngIf="msg"></app-modal>
