<div class="detail-info">
  <div class="user-title">
    个人信息
  </div>
  <div class="user-info">
    <div class="info-field">
          <span class="blank-name">
            手机号：
          </span>
      <span>
            11111111111
          </span>
    </div>
    <div class="info-field">
          <span class="blank-name">
            用户名：
          </span>
      <span>
            KiKyo
          </span>

    </div>
    <div class="info-field">
          <span class="blank-name">
            邮箱：
          </span>
      <span>
            <input type="email" placeholder="asfjlasflka@sadf.com">
          </span>
      <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
    </div>
    <div class="info-field sex">
          <span class="blank-name">
            性别：
          </span>
      <span>
            <label for="man"><input type="radio" name="sex" value="man" id="man" checked class="sex">男</label>
            <label for="woman"><input type="radio" name="sex" value="man" id="woman" class="sex">女</label>
          </span>
    </div>
    <div class="info-field">
          <span class="blank-name">
            所属领域：
          </span>
      <span>
            <select>
              <option>
                食品行业
              </option>
              <option>
                食品行业
              </option>
              <option>
                食品行业
              </option>
            </select>
          </span>
      <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
    </div>
    <div class="info-field">
          <span class="blank-name">
            单位名称：
          </span>
      <span>
            泛友网络科技有限公司
          </span>
    </div>
    <div class="info-field">
          <span class="blank-name">
            所属网站：
          </span>
      <span>
            <input placeholder="www.baidu.com">
          </span>
      <span class="warn">
        <svg>
              <use xlink:href="assets/icon/symbol-defs.svg#icon-tishi"></use>
            </svg>
        密码由6-15位数字或字母组成
      </span>
    </div>
  </div>

  <div class="submit-button">
    <button>
      确认修改
    </button>
  </div>
</div>
