<nav>
  <div class="nav-box">
    <ul>
      <li>
        <img class="logoIMG" src="../../../assets/img/logo-01.png" alt="chianICAC" (click)="go('./home')"/>
      </li>
      <li (click)="gopage('./home',1)" [ngClass]="{'active': currentId === 1 }">
        <span>
          首页
        </span>
      </li>
      <li [ngClass]="{'active': currentId === 2 }" (mouseover)="showToggle(2)" (mouseleave)="notShowToggle()">
        <span>矛盾原理</span>
        <div class="toggle" *ngIf="showToggleId === 2 && !hideToggle">
          <span class="triggle"><img src="../../../assets/img/nav.png" /></span>
          <ul>
            <li (click)="gopage('./theory',2,'2003')">2003版矛盾</li>
            <li (click)="gopage('./theory',2,'classic')">经典矛盾</li>
          </ul>
        </div>
      </li>
      <li [ngClass]="{'active': currentId === 3 }" (mouseover)="showToggle(3)" (mouseleave)="notShowToggle()">
        <span>知识云工具</span>
        <div class="toggle" *ngIf="showToggleId === 3 && !hideToggle">
          <span class="triggle"><img src="../../../assets/img/nav.png" /></span>
          <ul>
            <li (click)="gopage('./science',3,'research')">科学效应知识检索</li>
            <li (click)="gopage('./science',3,'patent')">专利推荐</li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="loginRegister-btn">
      <li [ngClass]="{'active': currentId === 4 }" (mouseover)="showToggle(4)" (mouseleave)="notShowToggle()">
        <span>登录</span>
        <!--<div class="toggle" *ngIf="showToggleId === 4 && !hideToggle">-->
        <!--<span class="triggle"><img src="../../../assets/img/nav.png" /></span>-->
        <!--<ul>-->
        <!--<li (click)="gopage('./development/webinar',4)">Webinars</li>-->
        <!--</ul>-->
        <!--</div>-->
      </li>
      <li [ngClass]="{'active': currentId === 5 }" (click)="gopage('./register',1)">
        <span>注册</span>
        <!--<div class="toggle" *ngIf="showToggleId === 5 && !hideToggle">-->
        <!--<span class="triggle"><img src="../../../assets/img/nav.png" /></span>-->
        <!--<ul>-->
        <!--<li (click)="gopage('./knowledge-center/university',5)">University</li>-->
        <!--<li (click)="gopage('./knowledge-center/high-school',5)">High School</li>-->
        <!--</ul>-->
        <!--</div>-->
      </li>
    </ul>
  </div>
</nav>
